.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-gray-light-2);
  box-shadow: var(--shadow-dark);
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: var(--line);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-gray-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 18%;
}

.hotel-view {
  background-color: var(--color-white);
  flex: 1;
}

.user-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}